@import "css/index.css";

.hero_background{
    background-image: url("contact.jpg");
    height:650px;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.coming_soon p{
    font-size: 60px;
    font-weight: 800;
    margin:3% 0%;
}
.figure{
   display:flex;
   margin-left: 38%;
   padding-bottom:40px;
  
}
.time_col{
    padding:0px 20px;
}
.time_col .p_time{
    color:#3065b8;
    font-size: 40px;
    font-weight: 900;

}
.text_content{
    padding-bottom: 50px;
}
.btn_btn{
    padding-bottom: 20px;
}
.btnemail{
    padding:13px 10%;
    border:none;
    background-color: white;
}
.btnsubscribe{
    background-color: #3065b8;
    padding:13px 50px;
    border:none;
    border-radius: 0px 5px 5px 0px;
    color:white;
    text-transform: uppercase;
}
i.fa{
    margin: 30px 20px 0px 0px;
    height:50px;
    width:50px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    text-align: center;

}
@media screen and (max-width:680px){
    .hero_background{
        padding:0px 20px;
    }
    .coming_soon p{
        font-size: 40px;
    }
    .figure{
        margin-left: 0%;
    }
    .btnemail{
        width: 100%;
        margin-bottom: 5%;
    }
    .btnsubscribe{
        width:100%;
    }
}