@import "css/index.css";
@import "css/contact.css";
.different_service_btn{
    height:250px;
    background-color: #fff;
    padding-top: 110px;
    text-align: center;
}
.diff_service_btn{ 
    display:flex;
    justify-content: center;
    padding:0px 10%;
    
} 
.diff_service_btn button{
    margin:0px 20px;
    padding:10px 25px;
    background-color: #fff;
    border:none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;

} 
.diff_service_btn button.btn_active{
    background-color: black;
    color:white;
}

/*department_container*/
.diff_services_container{
    display:grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    padding:0px 6%;
}

.overlay_images img{
    width:100%;
    height:100%;
}
.cleaning_department{
    padding:0;
    display:block;
    position: relative;
}

.overlay_content {
    position:absolute;
    height: 50px;
    width:50px;
    background-color: blue;
    border-radius: 50%;
    top: 40%;
    left:40%
}
.overlay_content p{
    position: absolute;
    top:20%;
    left:40%;
    font-size: 20px;
}

.grid_overlay{
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    width:100%;
    top:0;
   bottom: 0;
   text-align: center;
   color:white;
   transition: .5s ease;
   overflow: hidden;
   height:0;
   margin:0;
   padding:0; 
}
.cleaning_department:hover .grid_overlay{
    height:100%;
}
.diff_services_paragraph{
    color:#bbb;
    padding-top: 15px;;
}
/**/
.number_btn{
    height:250px;
    text-align: center;
    background-color: #fff;
}
.diff_number_btn{
    padding:5% 0px;
}
.diff_number_btn button{
    padding:20px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    margin:5px;
}
.diff_number_btn button:hover{
    background-color:#3065b8;
    color:white;
}
@media screen and (max-width: 680px){
    /*different_service_btn*/
    .different_service_btn{
        padding-top: 80px;
    }
    .diff_service_btn{
        padding:0px 10%;
        display:inline-block;
    }
    .diff_service_btn button{
        padding:10px 15px;
        margin:0px 5px;
        font-size: 14px;
    }
/**/
    .diff_services_container{
        display:block;
    }
    .diff_services{
        width:100%;
        padding-bottom: 10%;
    }
    /**/
    .diff_number_btn{
        padding:5% 10%;
    }
}
